.footer {
    height: 400px;
    background-color: #252641;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* ===== logo section ===== */
.logoFoot {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoFoot .imgContainer {
    width: 160px;
    height: auto;
}

.logoFoot .imgContainer img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.break {
    width: 1px;
    height: 40px;
    background-color: #626381;
    margin: 0 1rem;
}

.logoFoot .txt {
    color: #fff;
    font-size: 16px;
    max-width: 150px;
}

/* ===== newsletter section ===== */
.searchNews {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.4rem;
    text-align: center;
}

.searchNews h2 {
    color: #B2B3CF;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.7px;
}

/* ===== input ===== */
.input {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.input input {
    padding: 14px 18px;
    border-radius: 28px;
    outline: none;
    background-color: transparent;
    border: 1px solid #626381;
    color: white;
    width: 250px;
}

.subscribe {
    padding: 14px 18px;
    border-radius: 28px;
    border: none;
    cursor: pointer;
    background-color: #49BBBD;
    color: #FFFFFF;
    width: 100px;
    transition: all 0.2s ease-in-out;
}
.subscribe:hover {
box-shadow: #0d1053ec 0px 5px 15px; 
}
.privacy {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #B2B3CF;
    font-size: 14px;
    padding-top: 1rem;
}
.privacy .first {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}
.privacy .first .break {
        width: 1px;
        height: 10px;
        background-color: #626381;
        margin: 0;
}